body {
  background-color: #AC63FF;
  color: black;
  font-size: 20px;
}
a {
  background-color: #1F1F26;
  color: white!important;
  text-decoration: underline;
}

#login-required, #theme-selector, #write-permission, #invitation-response {
  color: crimson;
}

#navbarDropdown {
  color: white
}

.fa-user {
  color: white;
}

#user-menu {
  color: white;
}

#content {
  margin-top: 50px;
}
#chat-options, #join-btn, #open-btn{
  align-content: left;
}

#user-name {
  color: white;
  padding-left: 5px;
}

.hidden {
  display: none!important;
}

#board {
  width: 95vw;
  max-width: 500px;
}

#continue-chat-table {
  table-layout: fixed!important;
  word-wrap: break-word;
}

#continue-chat-table tr {
  font-size: 14px;
}

#table-title {
  width: 50%;
}
#messagesarea{
}

tr.clickable-row {
  cursor: pointer;
}

.btn-cancel, #start-new-chat-btn, #join-chat-btn, #stop-playing {
  margin-bottom: 25px;
}

table.table > thead > tr > th{
    border: none;
}
table.table > tbody > tr > td{
    border-top: 1px solid white;
}

code {
  color: antiquewhite;
}

.wrap {
  display: flex;
  height: 100vh;
  min-width: 600px;
  max-width: 1200px;
  box-shadow: 0 2px 2px #aaaaaa;
}

